.noteCard {
  display: inline-block;
  position: absolute;
  /* background-color: rgb(234, 245, 90); */
  width: 14em;
  height: 13.5em;
}

input {
  margin-bottom: 10px;
}

#textInput {
  height: 50px;
}

#colorInput {
  width: 150px;
}

.editForm {
  display: flex;
  margin: auto;
  height: 200px;
  width: 80%;
  justify-content: center;
  flex-direction: column;
}

.formContainer {
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  width: 100%;
}
